# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
__pycache__\
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
.idea/

# My configurations:
cookbook/
Gui_test/
machine_learn/
PaChong/czm/
PaChong/grz/
PaChong/hwn/
PaChong/xqm/
*/.idea/